<!DOCTYPE html>
<html>
  <head>
    <%-include('../common/head_html.html') %>
  </head>
  <body>
    <%-include('../common/nav.html') %>
    <header class="bg-dark py-1">
      <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
          <h3 class="display-6 fw-bolder">캠핑 스토리</h3>
          <p class="lead fw-normal text-white-50 mb-0">Share our camping story</p>
        </div>
      </div>
    </header>
    <div class="my-2 mx-2 d-flex justify-content-end">
      <div class="col-sm-1 px-1">
        <select class="form-select" aria-label="Default select example" onchange="sortStory(this)">
          <option selected>정렬</option>
          <option value="desc">최신순</option>
          <option value="asc">오래된순</option>
          <option value="heart">하트순</option>
        </select>
      </div>
      <div class="px-1">
        <button type="button" class="btn btn-primary" onclick="getMyStory()">내 글 보기</button>
      </div>
      <div class="mr-3 px-1">
        <button type="button" class="btn btn-secondary" onclick="location.href = '/story/post'">새 글 작성</button>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 m-1" id="cardBox"></div>

    <%-include('../common/basicScript.html') %>
    <script src="/js/story/board/story.board.js" type="module"></script>
  </body>
</html>
