<!DOCTYPE html>
<html>
  <head>
    <%-include('../common/head_html.html') %>
  </head>
  <body>
    <%-include('../common/nav.html') %>
    <div class="mx-2 mt-3 mb-5">
      <h3 style="text-align: center">캠핑스토리</h3>
    </div>
    <div class="my-2 mx-2 d-flex justify-content-end">
      <div class="px-1">
        <button type="button" class="btn btn-primary">내 글 보기</button>
      </div>
      <div class="mr-3 px-1">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="location.href = '/story/post'"
        >
          새 글 작성
        </button>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 m-1">
      <div href="#">
        <div class="col">
          <a href="/story/detail">
            <div class="card">
              <img
                src="img/main_carcamping.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">제목</h5>
                <p class="author">작성자</p>
                <p class="place">장소</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <%-include('../common/basicScript.html') %>
  </body>
</html>
