<!DOCTYPE html>
<html>
  <head>
    <%-include('../common/head_html.html') %>
  </head>
  <body>
    <%-include('../common/nav.html') %>

    <br />

    제목<br />

    작성자<br />

    주소<br />

    가는방법<br />

    팁<br />

    ~이미지s~<br />

    <%-include('../common/basicScript.html') %>
  </body>
</html>
