<footer>
  <p>Copyright © 2021 C-on.,Ltd. All rights reserved.</p>
  <address>Contact for more information. yoou201@gmail.com</address>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>
<script src="/js/common/fetch.js"></script>
<script src="/js/common/authentication.js"></script>
<script src="/js/common/modifyHtml.js"></script>
<script>
  const backendURL = "http://localhost:8080";
  modifyNavbar();
</script>
