<nav class="navbar navbar-expand-xl navbar-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-5" id="navbarTogglerDemo01">
      <a id="homeBtn" class="navbar-brand" href="/">어디차박</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/story"
            >캠핑스토리</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/shop"
            >대여 및 거래</a
          >
        </li>
      </ul>
      <a
        id="navUsername"
        class="navbar-brand hidden me-3 my-2"
        style="text-decoration: underline"
      ></a>
      <div class="d-flex">
        <input
          id="searchInput"
          class="form-control me-2"
          type="search"
          placeholder="장소를 검색해보세요"
          aria-label="Search"
        />
        <button
          id="searchBtn"
          class="btn btn-outline-success me-2 py-2"
          type="submit"
          onclick="searchPlace()"
        >
          Search
        </button>
      </div>
      <button
        id="navLoginButton"
        class="btn btn-outline-success me-2 my-2 hidden"
        type="submit"
        onclick="location.href='/auth/login'"
      >
        로그인
      </button>
      <button
        id="navLogoutButton"
        class="btn btn-outline-success me-2 my-2 hidden"
        type="submit"
      >
        로그아웃
      </button>
    </div>
  </div>
</nav>
