.hidden {
  display: none;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}

.card-img-top {
  height: 15rem;
  object-fit: cover;
}
