<!DOCTYPE html>
<html>
  <head>
    <%-include('../common/head_html.html') %>
  </head>
  <body>
    <%-include('../common/nav.html') %>
    <header class="bg-dark py-1">
      <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
          <h3 class="display-6 fw-bolder">대여 및 거래</h3>
          <p class="lead fw-normal text-white-50 mb-0">
            Rental or Trading camping supplies
          </p>
        </div>
      </div>
    </header>
    <div class="my-2 mx-2 d-flex justify-content-end">
      <div class="px-1">
        <button type="button" class="btn btn-primary">내가 올린 물건</button>
      </div>
      <div class="mr-3 px-1">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="location.href = '/shop/post'"
        >
          물건팔기
        </button>
      </div>
    </div>
    <div class="container my-3">
      <table class="table">
        <thead>
          <tr class="thead-dark">
            <th>제품사진</th>
            <th>제품명</th>
            <th>거래종류</th>
            <th>거래방법</th>
            <th>가격</th>
            <th>작성일시</th>
            <th>판매자</th>
          </tr>
        </thead>
        <tbody id="shop_board_tbody"></tbody>
      </table>
    </div>

    <%-include('../common/basicScript.html') %>
    <script src="/js/shop/shop.board.js"></script>
    <script>
      redirectLoginForUnauthorization();
      getShop();
    </script>
  </body>
</html>
