<!DOCTYPE html>
<html>
  <head>
    <%-include('../common/head_html.html') %>
  </head>
  <body>
    <%-include('../common/nav.html') %>
    <div class="mx-2 mt-3 mb-5">
      <h3 style="text-align: center">대여 및 거래</h3>
    </div>
    <div class="my-2 mx-2 d-flex justify-content-end">
      <div class="px-1">
        <button type="button" class="btn btn-primary">내가 올린 물건</button>
      </div>
      <div class="mr-3 px-1">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="location.href = '/shop/post'"
        >
          물건팔기
        </button>
      </div>
    </div>
    <div class="container my-3">
      <table class="table">
        <thead>
          <tr class="thead-dark">
            <th>제품사진</th>
            <th>거래종류</th>
            <th>가격</th>
            <th>작성일시</th>
            <th>판매자</th>
          </tr>
        </thead>
        <tbody>
          <!-- 데이터가져와서 ejs문법으로 if문과 반복문으로 표시 -->
          <a href="/story/detail">
            <tr
              onclick="location.href = '/shop/detail'"
              style="cursor: pointer"
            >
              <td class="product-img" style="width: 13%">
                <img
                  class="d-block w-100"
                  src="https://mblogthumb-phinf.pstatic.net/20160817_259/retspe_14714118890125sC2j_PNG/%C7%C7%C4%AB%C3%F2_%281%29.png?type=w800"
                />
              </td>
              <td class="deal-way">1</td>
              <td class="price">1</td>
              <td class="createdAt">1</td>
              <td class="seller">1</td>
            </tr>
          </a>
        </tbody>
      </table>
    </div>

    <%-include('../common/basicScript.html') %>
  </body>
</html>
