<!DOCTYPE html>
<html>
  <head>
    <%-include('../common/head_html.html') %>
  </head>

  <body>
    <%-include('../common/nav.html') %>
    <div class="container m-5">
      <form
        class="row"
        action="/shop/post"
        method="POST"
        enctype="multipart/form-data"
      >
        <input class="hidden" name="token" id="inputToken" />

        <div class="row">
          <div class="col-md-6">
            <label for="form_stuff" class="form-label">판매할 물건</label>
            <input
              id="form_stuff"
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
              name="stuff"
              required
            />
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label for="form_price" class="form-label">가격</label>
            <input
              id="form_price"
              type="number"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
              name="price"
              step="1000"
              placeholder="천 단위로 입력해주세요."
              required
            />
          </div>
          <div class="col-sm-4">
            <label for="form_mobile" class="form-label">연락처</label>
            <input
              id="form_mobile"
              type="text"
              minlength="13"
              maxlength="13"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
              pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
              placeholder="'-'를 붙여 입력해주세요."
              name="mobile"
              required
            />
          </div>
          <div class="col-sm-3">
            <label for="inputState" class="form-label">거래종류</label>
            <select
              class="form-select"
              name="transtype"
              id="form-transtype"
              required
            >
              <option>대여</option>
              <option>판매</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="inputState" class="form-label">거래방법</label>
            <select
              class="form-select"
              name="transaction"
              id="form-transaction"
              required
            >
              <option>직거래</option>
              <option>택배거래</option>
            </select>
          </div>
        </div>

        <div class="row my-3" style="height: 200px">
          <div class="form-floating">
            <textarea
              id="form-description"
              name="description"
              class="form-control"
              aria-label="With textarea"
              placeholder="."
              style="height: 100%"
              required
            ></textarea>
            <label for="floatingTextarea" class="mx-2"
              >물건에 대한 자세한 설명을 작성해주세요</label
            >
          </div>
        </div>

        <div class="col-sm-5">
          <input
            id="form_image"
            multiple="multiple"
            class="form-control"
            type="file"
            name="shopImg"
            class="form-control-file"
            required
          />
        </div>

        <div class="col-12 mb-3">
          <button
            id="form_button"
            class="hidden"
            type="submit"
            class="btn btn-primary"
          ></button>
        </div>
      </form>
      <button id="post_button" type="submit" class="btn btn-primary">
        등록
      </button>
    </div>

    <%-include('../common/basicScript.html') %>
    <script src="/js/shop/shop.post.js"></script>
    <script>
      redirectLoginForUnauthorization();
    </script>
  </body>
</html>
