<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>어디차박</title>
  </head>
  <body>
    <%-include('../nav.html') %>
    <div class="mx-2 mt-3 mb-5">
      <h3 style="text-align: center">대여 및 거래</h3>
    </div>
    <div class="my-2 mx-2 d-flex justify-content-end">
      <div class="px-1">
        <button type="button" class="btn btn-primary">내가 올린 물건</button>
      </div>
      <div class="mr-3 px-1">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="location.href = '/shop/post'"
        >
          물건팔기
        </button>
      </div>
    </div>
    <div class="container my-3">
      <table class="table">
        <thead>
          <tr class="thead-dark">
            <th>제품사진</th>
            <th>거래종류</th>
            <th>가격</th>
            <th>작성일시</th>
            <th>판매자</th>
          </tr>
        </thead>
        <tbody>
          <!-- 데이터가져와서 ejs문법으로 if문과 반복문으로 표시 -->
          <tr>
            <td class="product-img">
              <img
                src="https://mblogthumb-phinf.pstatic.net/20160817_259/retspe_14714118890125sC2j_PNG/%C7%C7%C4%AB%C3%F2_%281%29.png?type=w800"
                width="100px"
                height="100px"
              />
            </td>
            <td class="deal-way" style="vertical-align: middle">대여</td>
            <td class="price" style="vertical-align: middle">100,000</td>
            <td class="createdAt" style="vertical-align: middle">2021/11/10</td>
            <td class="seller" style="vertical-align: middle">Ellie</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
